.app {
  display: flex;
}

.leaflet-container {
  width: 80vw;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 1rem;
}

.controls p {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.5rem;
}

.controls ul {
  margin-top: 0;
  padding: 0;
}

.controls ul li {
  cursor: pointer;
  list-style: none;
  margin: 0.75rem 0;
}

.controls a {
  color: inherit;
  text-decoration: none;
}

.controls ul li:hover {
  text-decoration: underline;
}

@media (max-width: 414px) {
  .app {
    flex-direction: column-reverse;
  }

  .leaflet-container {
    width: 100vw;
    height: 80vh;
  }

  .controls p {
    margin-top: 1rem;
  }
}
